# Tests for the {{name}} WDL library

import pytest
import WDL

from functools import partial

from tests import use_file, run_task

@pytest.fixture
def wdl():
    return WDL.load("{{name}}.wdl")

@pytest.fixture()
def tasks(wdl):
    o = type('', (), {})()
    for task in wdl.tasks:
        setattr(o, task.name, task)
    return o

@pytest.fixture
def run():
    return partial(run_task, "{{name}}.wdl")


def test_hello(run, tasks, outputs):
    task = tasks["hello"]
    inputs = {}
    outputs.update(run(task, inputs))
    assert outputs["salutation"] == "Hello, world!"