# Tests for the {{name}} WDL library

import pytest
import WDL

from tests import use_file, run_task

@pytest.fixture
def wdl():
    return WDL.load("{{name}}.wdl")

@pytest.fixture()
def tasks(wdl):
    return {task.name: task for task in wdl.tasks}

@pytest.fixture
def run():
    return partial(run_task, "{{name}}.wdl")


def test_hello(run, tasks):
    task = tasks["hello"]
    inputs = {}
    outputs = run(task, inputs)
    assert outputs["salutation"] == "Hello, world!"