# FDA-HFP DSDI {{ name }} WDL Library
# Author: {{author}} <{{email}}>

version 1.2

task hello {
    command {
        echo "Hello, world!"
    }
    output {
        String salutation = read_string(stdout())
    }
    runtime {
        docker: "ubuntu:latest"
    }
}